--- 
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: kubedemo
  namespace: default
spec: 
  replicas: 2
  selector: 
    matchLabels: 
      bb: web
  template: 
    metadata: 
    labels: 
      bb: web
  spec: 
    containers: 
      - 
        image: gcr.io/wired-rex-283811/dockerapp
        name: kubedemo
--- 
apiVersion: v1
kind: Service
metadata: 
  name: kubedemo
  namespace: default
spec: 
  ports: 
    - 
      port: 8009
      targetPort: 8080
  selector: 
    bb: web
  type: LoadBalancer
